/* body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./image/table.jpeg");
    background-size: cover;
    text-align: center;
    padding: 30px 30px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    

}

h1 {
    color: goldenrod;
    font-size: 50px;
}

#message-el  {
    font-style: italic;
    
}

 button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
    border:none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}  */







body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}